:root {
    --border: #242424;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.title {
    text-align: center;
    font-size: xx-large;
}

.container {
    padding: 24px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 24px;
    background: rgb(121,232,255);
    background: linear-gradient(90deg, rgba(121,232,255,1) 0%, rgba(68,58,227,1) 100%);
    border-radius: 5px;
}

.input {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 38px;
    border-radius: 6px;
    border: 1.5px solid gray;
}

.label {
    font-size: 1.2em;
    font-weight: 600;
    
}

.box {
    width: 100%;
    padding: auto;
    padding-bottom: 20px;
}

.shadow {
    box-shadow: 0px 5px 8px  rgba(62, 62, 62, 0.371)
}

.btn {
    margin-top: 20px;
    padding: 16px;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
    height: auto;
    border-radius: 8px;
    border: none;
    background: #281c6a;
    cursor: pointer;
}

h4 {
    color: white;
    margin: 0px;
    
}

table, tr, td {
    margin-top: 50px;
    width: 100%;
    border: 1px  solid var(--border);
}
